version: 2.1

executors:
  cidocker:
    shell: /bin/bash
    docker:
      - image: cibuilds/docker:19.03.2

commands:
  build_container:
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - setup_remote_docker
      - run: docker login -u $QUAY_USER -p $QUAY_PASS quay.io
      - run: docker build -t $CONTAINER_NAME -f $DF .
      - run: |
          VERSION=$(git describe --exact-match --tags 2>/dev/null || git rev-parse --short HEAD)
          echo "Tagging as $CONTAINER_NAME:$VERSION"
          docker tag $CONTAINER_NAME:latest $CONTAINER_NAME:$VERSION
          echo "Tagging as $CONTAINER_NAME:${CIRCLE_BRANCH}"
          docker tag $CONTAINER_NAME:latest $CONTAINER_NAME:${CIRCLE_BRANCH}
      - run: docker run -a stdout -a stderr --entrypoint=/usr/bin/${TV:-tools}-version-dump.sh $CONTAINER_NAME:${CIRCLE_BRANCH}
      - run: docker push $CONTAINER_NAME

jobs:
  build_ubuntu:
    environment:
      CONTAINER_NAME: quay.io/redsift/buildos-ubuntu
      DF: Dockerfile
    executor: cidocker
    steps:
      - build_container

  build_ubuntu_go:
    environment:
      CONTAINER_NAME: quay.io/redsift/buildos-go-ubuntu
      DF: Dockerfile.go.ubuntu
      TV: go
    executor: cidocker
    steps:
      - build_container
  
  build_ubuntu_node:
    environment:
      CONTAINER_NAME: quay.io/redsift/buildos-node-ubuntu
      DF: Dockerfile.node.ubuntu
      TV: node
    executor: cidocker
    steps:
      - build_container

  trigger_builds:
    environment:
      CIRCLE_REVERSE_DEPENDENCIES: buildos
    executor: cidocker
    steps:
      - checkout
      - run: echo ./circle_ci_trigger_build

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build_ubuntu:
          context: org-global
      - build_ubuntu_go:
          context: org-global
      - build_ubuntu_node:
          context: org-global
      - trigger_builds:
          context: org-global
          requires:
            - build_ubuntu
            - build_ubuntu_go
            - build_ubuntu_node